label.jsvat-input__block(ng-class="jsvatLabelClassObj")
    span.jsvat-input__lbl(ng-bind="opts.label")
    input.jsvat-input__field(
    type="text"
    ng-model="entity.vat"
    ng-required="opts.isRequired"
    ng-disabled="opts.isDisabled"
    ng-readonly="opts.isReadonly"
    name="opts.name"
    ng-maxlength="opts.maxlength"
    ng-minlength="opts.minlength"
    ng-pattern="opts.pattern"
    size="opts.size"
    )