label.jsvat-input__block(ng-class="jsvatLabelClassObj")
    span.jsvat-input__lbl(ng-bind="opts.label")
    input.jsvat-input__field(
    type="text"
    name="vat"
    ng-model="jsvatModel.value"
    ng-change="checkVAT()"
    ng-class="jsvatInputClassObj"
    )